h3 {
    font-size: 1rem;
    vertical-align: auto;
}

h4 {
    font-size: 0.8rem;
    vertical-align: auto;
}

h5 {
    font-size: 0.7rem;
    vertical-align: auto;
}

span {
    font-size: 0.8rem;
}

img {
    background-size: cover;
    background-repeat: repeat;
    background-position: ;
    width: 500px;

}

body {
    background-color:#dfeed9;
}